[user]
	name = Byron Li
	email = byronli8565@gmail.com
[alias]
	cm = commit -a -m
	pull = pull origin
	push = push origin
	undo = reset --soft HEAD~1
	ls = log -n 16 --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%d" --decorate 
	ll = log -n 6 --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%ad" --decorate --date=short --stat
	ss = status -s -b
[credential]
	credentialStore = keychain
	helper = 
	helper = 
	helper = /usr/bin/git-credential-manager-core
	helper = 
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = false
